<head>
    <title><%= title %></title>
    <% css.forEach(style => { %>
        <link rel='stylesheet' type="text/css" href='<%= `/css/${style}.css` %>') />
            <% }); %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="<%= `/js/filter.js` %>"></script>
            <script src="https://kit.fontawesome.com/77c7dff548.js" crossorigin="anonymous"></script>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

         
</head>
