.details,.comments {
	width: 400px;
	margin: auto;
}

.details,.comments h1{
	color: blueviolet;
}
.details h2 {
	margin-left: 0;
	text-align: left;
	color:black;
}


.comments q{
	color:blueviolet;
  font-style: italic;
  font-weight: bold;
}
