table {
	margin: auto;
	
	font-size: medium;
    line-height: 1.5em;
    text-transform:none;
    font-weight: 200;
    width:100%;
   
  
   
}



.idTicket {
	width: 300px;
}

.showTicket, .editTicket {
	width: 150px;
}

td, th {
	text-align: center;
}
.fa-check-circle{
	color: green;
	font-size: 2em;
}
.fa-spinner{
	color:red;
	font-size: 2em;
}